.nav-button{
    color: rgba(40, 155, 222, 1);
    border-color: rgba(40, 155, 222, 1);
}
.bg-rating{
    background-color: rgba(244, 250, 253, 1);
}
.vanilla-css{
    background-color: rgba(40, 155, 222, 1);
    color: whitesmoke;
}
.button-vanilla{
    color: rgba(40, 155, 222, 1);
}