.nav-button{
    color: rgba(40, 155, 222, 1);
    border-color: rgba(40, 155, 222, 1);
}
.bg-rating{
    background-color: rgba(244, 250, 253, 1);
}
.vanilla-css{
    background-color: rgba(40, 155, 222, 1);
    color: whitesmoke;
}
.button-vanilla{
    color: rgba(40, 155, 222, 1);
}
.bi-star-fill{
    color: rgba(245, 158, 11, 1);
}
.bi-star{
    color: rgba(252, 211, 77, 1);
}
.vanilla-footer{
    background-color: rgba(22, 22, 22, 1);
}
.join-button{
    padding: 1px 25px;
}